@import "../../../../scss/variable.scss";
#post__create {
    height: 100%;
    .upload-media {
        display: none;
    }
    .btn {
        cursor: pointer;
        width: max-content;
        margin: 20px auto 0;
        text-align: center;
    }
    .pre-create {
        display: flex;
        align-items: center;
        justify-content: center;
        .create-title {
            margin-bottom: 50px;
            font-size: 30px;
            font-weight: bold;
        }
        .media-icon {
            display: block;
            margin: auto;
        }
    }
    .content {
        .section-media {
            flex: 4;
        }
        .section-caption {
            width: 0px;
            border-radius: 10px;
            box-shadow: 0 10px 100px 50px #e6e6e6;
            min-height: 90vh;
            transition: all 0.2s linear;
            &.show {
                width: auto;
                flex: 2;
                padding: 20px;
            }
            .write-caption {
                position: relative;
                height: 100%;
                .author {
                    .avatar {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid #dbd8d8;
                    }
                }
                .content-text {
                    textarea {
                        border: unset;
                        height: auto;
                        width: 100%;
                        box-shadow: unset;
                        padding: 0;
                    }
                }
                .accessbility-item {
                    .media {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .caption {
                        width: 100%;
                        border: unset;
                        box-shadow: unset;
                        border-bottom: 1px solid #999;
                    }
                }
                .setting-item {
                }
                .cation-action {
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    .back-btn {
                        background-color: #989898;
                    }
                    .share-btn {
                    }
                }
            }
        }
    }
    .edit-media {
        & > .grid {
            transition: all 0.1s linear;
        }
        .wrap-image {
            background-color: #e2e2e2a1;
            &:hover > .remove-btn {
                transform: scale(1);
            }
            .remove-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;
                transform: scale(0);
                transition: all 0.1s ease-in;
            }
        }
    }
    .more-action-media {
        position: absolute;
        bottom: 50px;
        right: 50px;
        .next-to-cation {
            background-color: #140606;
        }
    }
}
.post__view-dialog {
    --height: 90vh;
    height: var(--height);
    border-radius: unset;
    min-width: 60vw;
    & > div {
        padding: 0;
        height: 100%;
    }
    #post__view {
        height: 100%;
        .show-media {
            flex: 4;
            video {
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            flex: 3;
            .show-info {
                gap: 10px;
                .author-avatar {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
                .origin {
                    flex-wrap: wrap;
                    .author-name {
                        font-weight: bold;
                    }
                }
            }
            .author {
                font-size: 14px;
                padding: 10px;
                border-bottom: 1px solid #c9c9c9;
            }
            .comment {
                padding: 0 10px 10px 10px;
                font-size: 14px;
                height: calc(var(--height) - 108px - 51px);
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 0px;
                }
                .caption {
                    font-size: 12px;
                }
                .author-caption {
                    margin-top: 10px;
                }
                .comment-item {
                    margin-top: 10px;
                    .infor {
                    }
                    .action-like {
                        cursor: pointer;
                    }
                    .action {
                        margin-left: 40px;
                        font-size: 10px;
                        font-weight: bold;
                        .reply {
                            cursor: pointer;
                        }
                    }
                }
                .collapse-item {
                    border: unset;
                    margin-top: 0;
                    .label {
                        font-size: 11px;
                        margin-left: 40px;
                    }
                }
                .list-reply {
                    margin-left: 30px;
                }
            }
            .action-post {
                font-size: 14px;
                padding: 10px;
                border-top: 1px solid #c9c9c9;
                .liked,
                .posted {
                    font-size: 12px;
                    font-weight: bold;
                }
                .posted {
                    font-size: 10px;
                }
                .input-comment {
                    &::after {
                        bottom: unset;
                        top: 0px;
                    }
                }
            }
        }
    }
}
