.login-container {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
    .login-pic {
        will-change: transform;
        transform: perspective(300px) rotateX(0deg) rotateY(0deg);
        .img {
            width: 300px;
        }
    }
    .active-hover {
        * {
            &:hover {
                color: #57b846;
            }
        }
    }
    .login-form {
        width: 300px;
        .title {
            margin-bottom: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }
        .wrap-input {
            &:not(:first-child) {
                margin-top: 15px;
            }
        }
        .cs-input {
            width: 100%;
            border-radius: 100px;
            border: 0px;
            padding-left: 30px;
            background-color: #e6e6e6;
            color: #666;
            height: 40px;
            &-icon {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }
        }
        .action {
            margin-top: 30px;
            .cs-btn-submit {
                padding: 0;
                background-color: #57b846;
                color: #fff;
            }
        }
        .more-action {
            text-align: center;
            font-size: 13px;
            margin-top: 20px;
            .label {
                color: #666;
                opacity: 0.6;
            }
            .forgot {
                color: #666;
                cursor: pointer;
                &:hover {
                    color: #57b846;
                }
            }
        }
        .create-account-action {
            margin-top: 130px;
            font-size: 13px;
            color: #666;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
        }
    }
}
