@import"./variable.scss";
.circle {
    border-radius: 50%;
}
.text-center {
    text-align: center;
}
.btn {
    color: $whiteColor;
    background-color: $blueColor;
    border-radius: 6px;
    padding: 5px 20px;
}