.authenticate-layout {
    display: flex;
    .side-bar-left {
        position: fixed;
        padding: 30px 10px 30px 10px;
        border-right: 1px solid #d9d9d9;
        height: 100vh;
        background-color: #fff;
        width: 200px;
        .head {
            .logo {
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.85rem;
                font-weight: 200;
                padding: 0px 8px;
            }
        }
        .menus {
            .menu-item {
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                padding: 5px;
                border-radius: 5px;
                min-width: 150px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
                .menu-icon {
                    transition: .2s all linear;
                }
                &.active {
                    .menu-label {
                        font-weight: bold;
                    }
                }
                &:hover {
                    background-color: #f2f2f2;
                    & > .menu-icon {
                        scale: 1.1;
                    }
                }
            }
        }
        .more-action {
            position: absolute;
            bottom: 20px;
            left: 20px;
            cursor: pointer;
        }
    }
    .main {
        width: 100%;
        padding-top: 0.5rem;
        &.space-left {
            margin-left: 200px;
        }
    }
}
