#profile {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    .head {
        display: flex;
        
        .avatar {
            // width: 30%;
            width: 140px;
            height: 140px;
            margin-right: 50px;
            cursor: pointer;
            position: relative;
            &:hover {
                .backrop-edit {
                    visibility: visible;
                }
            }
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .backrop-edit {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                background-color: #ffffffbf;
                visibility: hidden;
            }
            .upload-avatar {
                display: none;
            }
        }

        .info {
            width: 70%;
            padding: 8px 0px;
            .action {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .fullname {
                    padding-right: 32px;
                }

                a, button {
                    margin: 0 4px;
                    padding: 4px 12px;
                    border-radius: 4px;
                    font-weight: 500;
                    font-size: 0.85rem;
                    cursor: pointer;
                    &.grey {
                        background-color: #efefef;
                    }
                    &.blue-sky {
                        background-color: #51adfd;
                        color: #fff;
                    }
                }
            }

            .social {
                display: flex;
                align-items: center;
                padding: 24px 0px;

                h3 {
                    padding-right: 24px;

                    span {
                        padding: 0px 4px;
                        font-weight: 500;
                    }
                }

                button {
                    background: none;
                    box-shadow: none;
                    color: #000;
                    text-transform: lowercase;
                    font-size: 1rem;
                    font-weight: 400;
                }                
            }
        }

    }

    .social-media {
        padding-top: 40px;
        .add-btn {
            display: inline-block;
            button {
                border: 1px solid #c3c3c3;
                border-radius: 50%;
                padding: 16px;
            }
            svg {
                color: #dddddd;
                width: 48px;
                height: 48px;
            }
            span {
                display: block;
                text-align: center;
                color: #000;
                font-weight: 500;
                font-size: 0.8rem;
                margin-top: 8px;
            }
        }

        .media-list {
            margin-top: 32px;
            border-top: 1px solid #dddddd;

            ul {
                display: flex;
                justify-content: center;
                li {
                    display: flex;
                    font-size: 0.85rem;
                    cursor: pointer;
                    padding: 8px 16px;
                }
            }

            .group-btn {
                display: flex;
                align-items: center;

                .icon {
                    margin-right: 4px;
                }
            }

            .media__container {
                align-items: centers;
                display: flex;
                flex-wrap: wrap;
                .media__item {
                    padding: 2px !important;
                    position: relative;
                    width: 33.33%;
                    cursor: pointer;

                    // position: relative;
                    // width: 33.33%; 
                    // padding-top: 100%; 
                    // overflow: hidden;

                    // img, video {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     object-fit: cover;
                    // }

                    .media__preview {
                        display: none;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, .2);
                        .media__info {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            svg, span {
                                color: #fff;
                                margin: 0 2px;
                            }
                            & > div {
                                display: flex;
                                padding: 0px 16px;
                            }
                        }
                    }
                    &:hover .media__preview{
                        display: block;
                    }
                }
            }
        }
    }
}
